<html>
<head>
<style>
body {
  background-color: linen;
}

h1 {
  color: maroon;
  margin-left: 40px;
}
</style>
</head>
<body>
<a href="https://lisha-kotian.github.io/sem4-fet/">My Resume</a>
<h1>This is a heading</h1>
<p>This is a paragraph.</p>
<a href="https://lisha-kotian.github.io/sem4-fet/">My Resume</a>

</body>
</html>

